In [1]:
import pandas as pd

## Creating Geo Foreign Key

In [2]:
# Read the 'sales' CSV file
sales_df = pd.read_csv("./Fact_Sales.csv")

# Read the 'Geo' CSV file
geo_df = pd.read_csv('Geo.csv')

# Create a dictionary mapping 'Geo' values to 'ID' values
geo_mapping = geo_df.set_index('Geo')['ID'].to_dict()

# Replace 'Geo' values in 'sales.csv' with 'ID' values
sales_df['Geo_ID'] = sales_df['Geo'].map(geo_mapping)

# Drop the original 'Geo' column
sales_df = sales_df.drop('Geo', axis=1)

## Creating Product Foreign

In [3]:
pro_df = pd.read_csv('Product.csv')
pro_mapping = pro_df.set_index('Product')['ID'].to_dict()
sales_df['Product_ID'] = sales_df['Product'].map(pro_mapping)
sales_df = sales_df.drop('Product', axis=1)

## Creating Sales Person Foreign

In [4]:
sp_df = pd.read_csv('Sales_Person.csv')
sp_mapping = sp_df.set_index('Sales person')['ID'].to_dict()
sales_df['Sales_Person_ID'] = sales_df['Sales Person'].map(sp_mapping)
sales_df = sales_df.drop('Sales Person', axis=1)

In [5]:
sales_df.head()

,ID,Date,Amount,Customers,Boxes,Geo_ID,Product_ID,Sales_Person_ID
0,1,1/1/2021,"$8,414",276,495,4,4,1
1,2,1/1/2021,$532,317,54,3,14,2
2,3,1/1/2021,"$5,376",178,269,2,8,12
3,4,1/1/2021,$259,32,22,4,15,1
4,5,1/1/2021,"$5,530",4,179,2,18,19

## Formating the Amount Column

In [6]:
# Rename the 'Amount' column to 'Amount ($)'
sales_df = sales_df.rename(columns={'Amount': 'Amount ($)'})

# Strip the '$' symbol and convert the 'Amount ($)' column to numeric
sales_df['Amount ($)'] = sales_df['Amount ($)'].replace('[\$,]', '', regex=True).astype(float)

## Formating the Date

In [7]:
sales_df['Date'] = pd.to_datetime(sales_df['Date'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')

In [9]:
sales_df.head()

,ID,Date,Amount ($),Customers,Boxes,Geo_ID,Product_ID,Sales_Person_ID
0,1,2021-01-01,8414.0,276,495,4,4,1
1,2,2021-01-01,532.0,317,54,3,14,2
2,3,2021-01-01,5376.0,178,269,2,8,12
3,4,2021-01-01,259.0,32,22,4,15,1
4,5,2021-01-01,5530.0,4,179,2,18,19

## Creating the Date Foreign Key

In [10]:
date_df = pd.read_csv('Date.csv')
date_mapping = date_df.set_index('Date')['ID'].to_dict()
sales_df['Date_ID'] = sales_df['Date'].map(date_mapping)
sales_df = sales_df.drop('Date', axis=1)

In [11]:
sales_df.head()

,ID,Amount ($),Customers,Boxes,Geo_ID,Product_ID,Sales_Person_ID,Date_ID
0,1,8414.0,276,495,4,4,1,367
1,2,532.0,317,54,3,14,2,367
2,3,5376.0,178,269,2,8,12,367
3,4,259.0,32,22,4,15,1,367
4,5,5530.0,4,179,2,18,19,367

#### Save the updated DataFrame to a new CSV file

In [12]:
sales_df.to_csv('Fact_Sales_FV.csv', index=False)